@-moz-document domain("wx.qq.com") {
    .chat_item .avatar .icon {
        color: #fff!important
    }
    .search_bar {
        display: none
    }
    .header .avatar {
        display: none
    }
    .panel {
        width: 230px
    }
    .box_hd .title_wrap {
        display: none
    }
    .message .avatar {
        display: none
    }
    .chat_item.top {
        background: #fff;
    }
    .panel.give_me {
        background: #fff;
        border-right: 1px solid #f1f1f1;
    }
    #chatArea {
        background: #dee1e6;
    }
    .bubble {
        background: transparent!important;
    }
    .bubble_cont .plain {
        padding: 8px 12px!important
    }
    .you .bubble_cont {
        border: 0;
        background: #f1f1f1;
        border-radius: 0 5px 5px 5px;
    }
    .me .bubble_cont {
        background: #f1f1f1;
        border-radius: 5px 0 5px 5px;
        color: #000;
    }
    .dropdown_menu a {
        border-bottom: 0!important;
        padding: 3px 10px!important
    }
    .tab {
        display: none;
    }
    .nav_view {
        top: 70px!important;
        color: black
    }
    .search_bar {
        margin: 5px;
        margin-right: 7px;
    }
    .search_bar input {
        font-size: 1em!important;
        width: 240px!important;
        background: #eeeeee!important;
        border-radius: 7px!important;
        color: black!important;
    }
    .web_wechat_search {
        filter: invert(1)
    }
    .header * {
        color: black!important
    }
    .chat_item {
        border-bottom: none!important;
    }
    .chat_item * {
        color: black!important;
    }
    .chat_item.active {
        border-radius: 7px 0 0 7px;
        background: #f1f1f1!important;
        margin-left: 5px;
        padding-left: 13px;
    }
    .bubble::after {
        display: none!important
    }
    .me .attach {
        background: #1e9fff;
    }
    .sep {
        display: none
    }
    .me a.ng-scope {
        background: #eeeeee;
        color: #1e9fff!important;
        padding: 3px 8px;
        border-radius: 3px;
        margin-left: 10px;
    }
    .ng-binding[ng-bind^="message.FileName"] {
        font-size: 1.3em;
        width: 100%;
        margin-bottom: 0!important;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis
    }
    img {
        border-radius: 5px!important
    }
    * {
        outline: none;
        cursor: default!important
    }
    .title_wrap {
        background: #dee1e6!important;
        text-align: left;
        margin: 0!important;
        padding: 10px 10px!important;
        border: 0!important
    }
    .members {
        background: #eeeeee!important;
    }
    #mmpop_chatroom_members {
        border-radius: 10px 0 0 0!important;
        overflow: hidden;
    }
    body {
        background: #dee1e6!important;
        user-select: none;
        height: 768px;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Source Han Sans CN, sans-serif !important;
    }
    .copyright {
        display: none
    }
    .btn_send {
        background: #1e9fff;
        transition: all .2s;
        border: 0;
        color: #eeeeee
    }
    .btn_send:hover {
        background: #0093ff!important
    }
    .btn_send:active {
        color: #c4e6ff!important
    }
    .desc.ng-scope {
        display: none
    }
    .box_ft {
        margin: 0!important;
        padding-right: 10px;
    }
    #editArea {
        height: 6.8em
    }
    .web_wechat_screencut {
        display: none;
    }
    .main {
        padding-top: 0;
        margin: auto;
        height: 768px;
        width: 1024px;
    }
    .main_inner {
        margin-top: 5%;
        width: 1024px!important;
        max-width: unset;
        max-height: unset
    }
    .lang,
    .download_entry {
        display: none
    }
    .scroll-wrapper.box_bd.chat_bd.scrollbar-dynamic {
        top: 0;
        background: #fff
    }
    .box_ft.ng-scope {
        background: #fff !important;
        display: block!important
    }
    .search_bar .mmpop {
        box-sizing: border-box;
        background: #eeeeee;
        border-radius: 7px!important;
        overflow: hidden;
        width: 270px!important;
        border: 1px solid #d5d5d5;
        box-shadow: none;
    }
    .contact_title {
        background: #eeeeee!important
    }
    .contact_item {
        background: #eeeeee!important;
        border-bottom: 1px solid #eeeeee!important;
    }
    .contact_item * {
        color: black!important
    }
    .contact_item.on {
        background: #f7f7f7!important;
    }
    .ngdialog .contact_title {
        background: #eeeeee!important;
        border-bottom: 1px solid #eeeeee;
    }
}
