<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>47c9b6e9f285a6602bfa3cf079e008bc_icon.png</string>
	<key>CFBundleIdentifier</key>
	<string>name.nxw.datausage</string>
	<key>CFBundleName</key>
	<string>DataUsage</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string></string>
		<key>LBEmail</key>
		<string></string>
		<key>LBSummary</key>
		<string>check data usage for Boslife and BandwagonHost</string>
		<key>LBTwitter</key>
		<string></string>
		<key>LBWebsiteURL</key>
		<string></string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.py</string>
		</dict>
	</dict>
</dict>
</plist>
