<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Label</key>
   <string>name.nxw.buptlogin</string>
   <key>ProgramArguments</key>
   <array>
    <string>/usr/bin/python3</string>
    <string>/Users/xavier/Development/pub/python/bupt_login.py</string>
   </array>
   <key>RunAtLoad</key>
   <true/>
</dict>
</plist>